body {
	font: 14px "monospace", Futura, sans-serif;
	margin: 20px;
}
.card {
	user-select: none;
	border: 1px solid #000;
	border-radius: 10px;
	height: 70px;
	width: 50px;
	box-sizing: border-box;
	font-size: 20px;
	font-weight: bold;
	line-height: 20px;
	text-align: top left;
	margin: 0;
	padding-left: 3px;
}
.liteRed {
	background-color: #f88;
}
.darkRed {
	background-color: #f44;
}
.liteBlue {
	background-color: #aaf;
}
.darkBlue {
	background-color: #44f;
}
.facedown {
	background-color: #555;
}
.white {
	background-color: #fff;
}
.hasdown {
	margin-bottom: -50px;
}
.hasright {
	margin-right: -25px;
	float: left;
}
.isunder {
	margin-bottom: -70px;
	margin-right: -50px;
	float: left;
}
td {
	vertical-align: top;
}
.hasdown.facedown {
	margin-bottom: -63px;
}
.selected {
	border: 3px solid #ff0;
}